<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <link />
    <title>login service</title>
  </head>
  <body>
    <div class="header">
      <h1>Dashboard</h1>
      <a href="/logout" class="appBtn">Logout</a>
    </div>
    <div class="main_container">
      <img class="user_image" src="<%=user.picture%>" /><img />
      <h2><%=user.nickname%></h2>
      <p style="margin: 2rem 0"><%=user.email%></p>
      <p>userType:<b><%=user['https://example.com/roles']%></b></p>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
