<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <link />
  </head>
  <body>
    <div class="email_page">
      <div class="email_page_container">
        <h1>Please Verify your email</h1>
        <p class="email_page_msg">Before you continue</p>
        <a href="https://gmail.com" class="appBtn">Verify Email</a>
      </div>
    </div>
  </body>
</html>
